@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    padding-top: 70px;
}

.icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    width: 1em;
}

.add-button {
    .icon {
        height: 0.8em;
        line-height: 0.5;
        width: 0.8em;
    }
}


// Vue Transitions
/* always present */
.expand-transition {
    transition: all 0.5s ease;
}

.expand-enter, .expand-leave {
    opacity: 0;
}
