@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    padding-top: 70px;
}

.icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    width: 1em;
}

.vote-button {
    &.disabled {
        background: #aaa;
        border-color: #999;
    }
    .icon {
        height: 1.5em;
        width: 1.5em
    }
}

.add-button {
    .icon {
        height: 0.8em;
        line-height: 0.5;
        width: 0.8em;
    }
}
