@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    padding-top: 70px;
}

.icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    width: 1em;
}

.add-button {
    .icon {
        height: 0.9em;
        margin-bottom: -0.05em;
        margin-left: 0.2em;
        width: 0.9em;
    }
}

.navbar .v-link-active {
    color: #fff !important;
}
    .navbar .dropdown .v-link-active {
        color: #333 !important;
        font-weight: bold;
    }

// Vue Transitions
/* always present */
.expand-transition {
    transition: all 0.5s ease;
}

.expand-enter, .expand-leave {
    top: 5em !important;
}

.topic {

}

.topic--in-list {
    .panel-heading {
        padding: 5px 10px;
    }
    .panel-body {
        padding: 10px;
    }
    .topic__title {
        font-size: 1.75rem;
        margin-bottom: 0;
        margin-top: 0;
    }
}

.episode--in-list {
    h3 {
        margin-top: 0.25em;
    }
}

.episode__number--in-list {
    border-radius: 0.25em;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 2em;
    padding-top: 2em;
    text-align: center;
}

.episode__delete--in-list {
	background: rgba(255,0,0,0.8);
	border-radius: 0.3em;
    cursor: pointer;
	color: #fff;
	font-weight: bold;
	padding: 0.3em;
    position: absolute;
	right: 2em;
    text-align: center;
	top: 1em;
    width: 2em;
}

.vote-count {
    background: #ddd;
    border-radius: 0.35em;
    display: inline-block;
    padding: 0.5em;
    text-align: center;
    width: 5.5rem;
}
